# SVM

Reference 
https://www.python-engineer.com/courses/mlfromscratch/07_svm/

In [15]:
import numpy as np
import pandas as pd  # for reading data from csv 
import statsmodels.api as sm  # for finding the p-value
from sklearn.preprocessing import MinMaxScaler  # for normalization
from sklearn.model_selection import train_test_split as tts
from sklearn.metrics import accuracy_score 
from sklearn.utils import shuffle

In [16]:
data = pd.read_csv("/content/drive/MyDrive/scratch/data.csv")

In [17]:
data.head(3)

         id diagnosis  ...  fractal_dimension_worst  Unnamed: 32
0    842302         M  ...                  0.11890          NaN
1    842517         M  ...                  0.08902          NaN
2  84300903         M  ...                  0.08758          NaN

[3 rows x 33 columns]

In [18]:
diagnosis_map = {'M':1, 'B':-1}
data['diagnosis'] = data['diagnosis'].map(diagnosis_map)

In [19]:
data.drop(data.columns[[-1, 0]], axis=1, inplace=True)

In [20]:
data.head(4)

   diagnosis  radius_mean  ...  symmetry_worst  fractal_dimension_worst
0          1        17.99  ...          0.4601                  0.11890
1          1        20.57  ...          0.2750                  0.08902
2          1        19.69  ...          0.3613                  0.08758
3          1        11.42  ...          0.6638                  0.17300

[4 rows x 31 columns]

In [21]:
data.insert(loc=len(data.columns), column='intercept', value=1)

In [22]:
#data.iloc[:, 0]
y =data['diagnosis'].values
X = data.iloc[:,1:].values

In [23]:
X_train, X_test, y_train, y_test = tts(X, y, test_size=0.2, random_state=42)

In [24]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Cost function

Let’s see how can we calculate the total cost and then we will move on to its gradient which will be used in the training phase to minimize it:

In [25]:
n_samples, n_features = X_train.shape
w = np.zeros(n_features)
b = 0

In [26]:
lr = 0.001
lambdap =0.01

In [27]:
for i in range(1):
  for idx, x_i in enumerate(X_train):
    condition = y_train[idx]*(np.dot(x_i, w)) >= 1
    if condition:
      w -= lr*(2*lambdap*w)
    else:
      w -= lr*(2*lambdap*w - np.dot(x_i, y_train[idx]))

In [28]:
w

array([ 0.12555687,  0.07639394,  0.12647142,  0.12073474,  0.05834901,
        0.080505  ,  0.10623741,  0.13103512,  0.04407858, -0.02209243,
        0.08954994, -0.01480999,  0.0846937 ,  0.08524476, -0.01459852,
        0.00772023,  0.00451781,  0.03638387, -0.01599728, -0.0216284 ,
        0.13934625,  0.09078093,  0.13889506,  0.13007902,  0.08043565,
        0.09491729,  0.10708503,  0.1337879 ,  0.08506399,  0.05011475,
        0.        ])

In [29]:
a = np.dot(X_test, w)

In [30]:
y_pred = np.sign(a)

In [31]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, y_pred)

In [32]:
accuracy

0.9736842105263158

In [33]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'linear', C = 10,random_state = 0)
classifier.fit(X_train, y_train)

SVC(C=10, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=0, shrinking=True, tol=0.001,
    verbose=False)

In [34]:
from sklearn.metrics import confusion_matrix, accuracy_score
y_pred = classifier.predict(X_test)
accuracy_score(y_test, y_pred)

0.9649122807017544